

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvatica', sans-serif;
	-webkit-user-select: none; /* Untuk browser berbasis WebKit (Chrome, Safari) */
	-moz-user-select: none; /* Untuk browser berbasis Gecko (Firefox) */
	-ms-user-select: none; /* Untuk browser berbasis Trident (Internet Explorer/Edge) */
	user-select: none; /* Standar CSS */
}


:root {
	--primary-color : white;
	--secondary-color:black;
	--tersier-color: blueviolet;
	--border-box: rgba(100,100,100,0.5) ;
	--bg-exception-letter:  black;
	--text-unguest-color: black;
	--text-guest-color: white;
	/*--button-color: blueviolet;*/
	/*--count-down-color: blueviolet;*/
	/*--button-text-color: white;*/
}

.dark-theme {
	--primary-color : rgb(20,20,20);
	--secondary-color:white;
	--tersier-color: grey;
	--border-box: rgba(200,200,200,0.5) ;
	--bg-exception-letter:  grey;
	--text-unguest-color: white;
	--text-guest-color: white;
}

/*@keyframes jinggleText {*/
	/*0% {background-color: rgba(210, 50, 50 , 0.9);}
	25%  {background-color: rgba(210, 50, 50 , 0.7);}
	50%  {background-color: rgba(210, 50, 50 , 0.5);}
	75%  {background-color: rgba(210, 50, 50 , 0.3);}*/
	/*from {font-size: 1.4rem;}
	to {font-size: 1rem;}
}*/

/*body {
	background-color: var(--secondary-color);
}*/

.main {
	display: flex;
	height: 100vh;
	/*padding: 2vh 0;*/
	/*padding-bottom: 8vh;*/
	flex-direction: column;
	/*border: 1px solid red;*/
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
	background-color: -webkit-var(--primary-color);
	/*background-color: white;*/
	/*background-color: rgb(20, 20, 20);*/
}

.navbar {
	width: 100vw;
	height: 8vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--border-box);
	/*position: absolute;*/
}

#title-game {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
	position: absolute;
	left: 50%;
}

#logo {
	/*width: 20rem;*/
	height: 6vh;
	position: relative;
	left: -50%;
	/*display: none;*/
	/*top: 0;*/

}

.icon {
	margin: 0 1rem;
	color: var(--secondary-color);
}

.account {
	font-size: 1.5rem;
	border: 2px solid black;
	border-radius: 10px;
	padding: 0 5px;
	cursor: pointer;
}

span .fa {
	display: inline-block;
	font-size: 1.5rem;
	margin: 0.5rem;
	cursor: pointer;
}

/*#title-game {
	width: 100vw
	border-bottom: 1px solid red;
	text-align: center;
}

.icon {
	width: 1.5rem;
}*/

#container-words {
	display: flex;
	gap: 0.15rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*position: relative;*/
	/*top:  10vh;*/
}

#clock {
	width: 10vh;
	height: 10vh;
	margin-bottom: 1.5rem;
	background-color: var(--tersier-color);
	border: 5px solid var(--tersier-color);
	border-radius: 50%;
	font-size: 1.3rem;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.word {
	display: flex;
	gap: 0.15rem;
	/*transition: 1s;*/
}
 
.box-letter {
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	font-weight: 700;
	border: 2px solid var(--border-box);
	color: var(--text-unguest-color);
	display: flex;
	justify-content: center;
	align-items: center;
}


.green {
	color: var(--text-guest-color);
	background-color: limegreen !important;
}

.orange {
	color: var(--text-guest-color);
	background-color: orange;
}

.black {
	color: var(--text-guest-color);
	background-color: var(--bg-exception-letter) !important;
}

#info-center {
	color: var(--secondary-color);
	text-align: center;
	vertical-align: middle;
	height: 5rem;
	/*line-height: 5rem;*/
	width: 80vw;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*transform: translateY(50%);*/
}

.info-center-box {
	margin: auto;
	/*border: 1px solid blue;*/
	/*top: 50%;*/
}

.info-game {
	color: var(--secondary-color);
	text-align: center;
	font-size: 1.1rem;
	margin: 0;
}

.info-player {
	color: var(--secondary-color);
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
}

.enemy-list-wrapper {
	display: inline-block;
}

.enemy-list {
	border: 1px solid blue;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 255, 0.2);
	margin: 5px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	justify-content: space-between;
	align-items: center;
	/*position: relative;*/
	/*top: 30vh;*/
	/*border: 1px solid red;*/
	/*height: 20vh;*/
	width: 100vw;
}

#guest {
	padding: 0.5rem;
	/*height: 2rem;*/
	padding: 0.4rem;
	font-size: 1.25rem;
	outline: none;
	border: 1px solid var(--border-box);
	color: var(--secondary-color);
	background-color: var(--primary-color);
	/*border: none;*/
}

#guest:focus {
	box-shadow: 0px 0px 3px 1px var(--tersier-color);
}

#enter-button {
	/*height: 2rem;*/
	width: 10rem;
	background-color: var(--tersier-color);
	font-size: 1.25rem;
	color: white;
	padding: 0.4rem;
	outline: 1px solid rgba(100,100,100, 0.5);
}

#answer {
	color: var(--secondary-color);	
}

#meaning {
	padding: 0 10vw;
	text-align: center;
	color: var(--secondary-color);
}


.keyboard-wrapper {
	display: flex;
	flex-direction: column;
	/*border: 1px solid red;*/
}

.keyboard {
	display: flex;
	justify-content: center;
	margin: 5px 0;
}

.key {
	background-color: var(--border-box);
	color: var(--secondary-color);
	border: 1px solid grey;
	margin: 0 2px;
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10%;
	cursor: pointer;
}

.del-key,
.enter-key {
	/*font-size: 10px;*/
	width: 60px;
}


.setting-page {
	z-index: 99;
	/*animation: fadingin 0.5s forwards;*/
	transition: 0.5s;
	color: var(--secondary-color);
	font-size: 1.25rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	/*opacity: 50%;*/
	visibility: hidden;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	position: absolute; 
	top: -100vh; 
	left: 0vw;
}

.setting-item {
	/*border: 1px solid red;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--border-box);
	/*margin-bottom: 0.5rem;*/
	height: 3rem;
}


.how-to-play-page {
	z-index: 99;
	/*animation: fadingin 0.5s forwards;*/
	transition: 0.5s;
	color: var(--secondary-color);
	font-size: 1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	/*opacity: 50%;*/
	visibility: hidden;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	position: absolute; 
	top: -100vh; 
	left: 0vw;
}

.word-example {
	display: flex;
	gap: 0.15rem;
	/*transition: 1s;*/
}
 
.box-letter-example {
	width: 50px;
	height: 50px;
	font-size: 1.25rem;
	font-weight: 700;
	border: 2px solid var(--border-box);

	display: flex;
	justify-content: center;
	align-items: center;
}


.statistic-page {
	z-index: 99;
	transition: 0.5s;
	color: var(--secondary-color);
	/*font-size: 1.25rem;*/
	width: 100vw;
	height: 100vh;
	display: flex;
	/*opacity: 50%;*/
	visibility: visible;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	position: absolute;
	/*border-bottom: 5px solid grey;*/
	top: -100vh; 
	left: 0;
}

/*.statistic-wrapper {
	border-bottom: 5px solid grey;
}*/

.statistic-box-container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	/*font-size: 1.05rem;*/
}

.statistic-box {
	display: flex;
	flex-direction: column;
	/*gap: 0;*/
	/*justify-content: space-between;*/
	/*border: 1px solid red;*/
}

.statistic-number {
	font-size: 2rem;
}

.statistic-descrption {
	/*font-size: 0.5rem;*/
	color: grey;
}


.page-body {
	/*background-color: var(--primary-color); */
	background-color: transparent;
	width: 60vw; 
	height: inherit; 
	padding: 1rem; 
	border-radius: 5px;  
}


.close-button {
	color: var(--secondary-color);
	text-align:right; 
	cursor: pointer;
	font-size: 1.25rem;
}

.title-menu {
	color: var(--secondary-color);
	text-align:center;
	font-weight: bold
}

#myChart {
	/*width: 80%;*/	
	/*height: 40vh;*/
}

@media only screen and (max-width: 767px) {
  /* Gaya CSS untuk perangkat dengan lebar layar maksimum 767px */
  /* Misalnya, gaya untuk ponsel */

 
	.main {
		display: flex;
		height: 100vh;
		/*padding: 2vh 0;*/
		padding-bottom: 1.5vh;
		flex-direction: column;
		/*border: 1px solid red;*/
		justify-content: space-between;
		align-items: center;
		background-color: var(--primary-color);
	}

	.page-body {
		/*background-color: var(--primary-color); */
		background-color: transparent;
		width: 90vw; 
		height: inherit; 
		padding: 1rem; 
		border-radius: 5px;  
	}

	.icon {
		margin: 0 0.8rem;
		color: var(--secondary-color);
	}

	.account {
		font-size: 1.3rem;
		border: 2px solid black;
		border-radius: 10px;
		padding: 0 5px;
		cursor: pointer;
	}

	span .fa {
		display: inline-block;
		font-size: 1.3rem;
		margin: 0.5rem;
		cursor: pointer;
	}


	#clock {
		width: 9vh;
		height: 9vh;
		margin-bottom: 0.7rem;
		background-color: var(--tersier-color);
		border: 5px solid var(--tersier-color);
		border-radius: 50%;
		font-size: 1.3rem;
		color: white;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.word {
		display: flex;
		/*gap: 0.15rem;*/
		/*transition: 1s;*/
	}
	 
	.box-letter {
		width: 12.5vw;
		height: 12.5vw;
		font-size: 1.3rem;
		font-weight: 700;
		border: 2px solid var(--border-box);
		color: var(--text-unguest-color);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.1rem;
	}

	.green {
		color: var(--text-guest-color);
		background-color: limegreen !important;
	}

	.orange {
		color: var(--text-guest-color);
		background-color: orange;
	}

	.black {
		color: var(--text-guest-color);
		background-color: grey;
	}


	#info-center {
		color: var(--secondary-color);
		text-align: center;
	}

	.info-game {
		color: var(--secondary-color);
		text-align: center;
		font-size: 1.1rem;
		margin: 0;
	}

	.info-player {
		color: var(--secondary-color);
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		margin: 0;
	}

	.keyboard {
		display: flex;
		justify-content: center;
		margin: 0.15rem 0;
		}

	.key {
		background-color: var(--border-box);
		color: var(--secondary-color);
		border: 1px solid transparent;
		margin: 0 2px;
		width: 8vw;
		height: 12vw;
		line-height: 12vw;
		text-align: center;
		vertical-align: middle;
		border-radius: 10%;
		cursor: pointer;
	}

	.del-key,
	.enter-key {
		/*font-size: 10px;*/
		width: 16vw;
	}


}